body {
  background: url('../images/perpus.jpg') no-repeat center fixed;
  background-size:cover;
}

.container {
    padding: 10px;
    position: fixed;
}

.form-login {
    background-color: #EFEFEF;
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 5px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.title{
  text-align: center;
  font-family: 'Aref Ruqaa'; /* Download nevis font in http://tenbytwenty.com/?xxxx_posts=nevis */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}


