body {
  	font-family: sans-serif;
	background-color: #dddddd;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand, .title {
	font-family: 'Aref Ruqaa', serif; 
}

a:hover {
	text-decoration: none;
}