@font-face {
      font-family: nevis;
      src: url('Fonts/nevis.ttf');
}
@font-face {
      font-family: maitree;
      src: url('https://fonts.googleapis.com/css?family=Maitree');
}
body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  background: url('../../images/perpus.jpg') no-repeat center fixed;
  background-size:cover;
  font-size: 16px;
  font-family: monospace;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

h1{
  margin-top: 60px;
}
      
#book-cover{
  height: auto;
}

#subtitle{
  text-align: center;
  padding: 10px;
  font-family: nevis; /* Download nevis font in http://tenbytwenty.com/?xxxx_posts=nevis */
  font-size: 24px;
  font-weight: bold;
}

#book-desc{
  padding-left: 150px;
}
